@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Noto+Serif+KR&display=swap');
*{
  padding : 0;
  margin : 0;
  box-sizing : border-box;
  color: rgb(34, 166, 34);
  background-color: black;
  font-family: "Noto Serif KR", serif;
}
html,body{
  height : 100%;
  width : 100%;
}
.void-hole-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5vw;
    min-height: 100vh;
}
.void-hole-container h1{
    font-size: 4em;
    color: red;
    margin-left: 3vw;
    font-family: "Nosifer", sans-serif;
}
::-webkit-scrollbar{
    display: none;
}
.void-hole-main{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.void-hole-image1{
    height: 10vh;
    width: 40vw;
    margin: 5vh 0;
}
.void-hole-image1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.void-hole-image2{
    justify-self: center;
    align-self: center;
}